.error-container {
  position: fixed;
  top: -100px; /* начальное положение за пределами экрана */
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s; /* добавляем плавную анимацию */
}

.error-container.show {
  top: 20px; /* положение сверху, когда сообщение видимо */
}